@use 'sass:math';
$utilities:(
    "padding":(
        "prefix":"p",
        "values":(
            "0":0,
            "1": $base_padding,
            "2": $base_padding * 2,
            "3": $base_padding * 4,
            "4": $base_padding * 6,
            "5": $base_padding * 8,
        ),
    ),
    "padding-left":(
        "prefix":pl,
        "values":(
            "0":0,
            "1": $base_padding,
            "2": $base_padding * 2,
            "3": $base_padding * 4,
            "4": $base_padding * 6,
            "5": $base_padding * 8,
        ),
    ),
    "padding-right":(
        "prefix":pr,
        "values":(
            "0":0,
            "1": $base_padding,
            "2": $base_padding * 2,
            "3": $base_padding * 4,
            "4": $base_padding * 6,
            "5": $base_padding * 8,
        ),
    ),
    "padding-top":(
        "prefix":pt,
        "values":(
            "0":0,
            "1": $base_padding,
            "2": $base_padding * 2,
            "3": $base_padding * 4,
            "4": $base_padding * 6,
            "5": $base_padding * 8,
        ),
    ),
    "padding-bottom":(
        "prefix":pb,
        "values":(
            "0":0,
            "1": $base_padding,
            "2": $base_padding * 2,
            "3": $base_padding * 4,
            "4": $base_padding * 6,
            "5": $base_padding * 8,
        ),
    ),
    "margin": (
    "prefix": "m",
    "values": (
      "0": 0,
      "1": $base_margin,
      "2": $base_margin * 2,
      "3": $base_margin * 4,
      "4": $base_margin * 6,
      "5": $base_margin * 8
    ),
  ),
  "margin-left": (
    "prefix": "ml",
    "values": (
      "0": 0,
      "1": $base_margin,
      "2": $base_margin * 2,
      "3": $base_margin * 4,
      "4": $base_margin * 6,
      "5": $base_margin * 8
    ),
  ),
  "margin-right": (
    "prefix": "mr",
    "values": (
      "0": 0,
      "1": $base_margin,
      "2": $base_margin * 2,
      "3": $base_margin * 4,
      "4": $base_margin * 6,
      "5": $base_margin * 8
    ),
  ),
  "margin-top": (
    "prefix": "mt",
    "values": (
      "0": 0,
      "1": $base_margin,
      "2": $base_margin * 2,
      "3": $base_margin * 4,
      "4": $base_margin * 6,
      "5": $base_margin * 8
    ),
  ),
  "margin-bottom": (
    "prefix": "mb",
    "values": (
      "0": 0,
      "1": $base_margin,
      "2": $base_margin * 2,
      "3": $base_margin * 4,
      "4": $base_margin * 6,
      "5": $base_margin * 8
    ),
  ),
  "opacity": (
    "prefix": "o",
    "values": (
      "10": 0.1,
      "20": 0.2,
      "30": 0.3,
      "40": 0.4,
      "50": 0.5,
      "60": 0.6,
      "70": 0.7,
      "80": 0.8,
      "90": 0.9,
      "100": 1,
    ),
  ),
  "border-radius": (
    "prefix": "br",
    "values": (
      "default": $base_border_radius,
      "none": 0,
      "xs": math.div($base_border_radius, 4),
      "sm": math.div($base_border_radius, 2),
      "lg": $base_border_radius * 2,
      "full": 50%,
    )
  ),
  "display": (
    "prefix": "display",
    "values": (
      "n": none,
      "b": block,
      "f": flex,
      "i": inline,
      "i-b": inline-block
    )
  ),
  "font-size": (
    "prefix": "font",
    "values": (
      "sm": $font_size-sm,
      "md": $base_font-size,
      "lg": $font_size-lg,
      "xl": $font_size-xl,
      "xxl": $font_size-xxl
    )
  )
);


/* utility class */
@each $property, $map in $utilities{
    $prefix: map-get($map, "prefix");
    $values: map-get($map, "values");

    @each $k, $v in $values {
        @if($k == "default"){
            .#{$prefix}{
                #{$property}: $v;
            }
        }
            @else{
                .#{$prefix}_#{$k}{
                    #{$property}: $v;
                }
            }
        }
    }
