
/* theme colors */

$primary: #09e8eb ;
  
$secondary: rgb(5, 230, 43);

$turquoise: #36d0cc;

$eastern-blue: #1ea79f;

$bright-turquoise: #12e7d1;

$bright-turquoise: #14d3e5;

$java: #17c1bb;

$error: red;

$info : yellow;

/* Color pallette */
$colors: (
    "primary":$primary,
    "secondary":$secondary,
    "warning":yellow,
    "success":rgb(1, 231, 1),
    "error":$error,
    "info":$info,
    "turquoise":$turquoise,
    "blue":blue,
    "green":green,
    "orange":orange,
    "white":white,
    "red":red,
    "violet":violet,
    "purple":purple,
    "black":black,
    "indigo":indigo,
    "cyan":cyan,
    "grey":grey,
    
);


/* Spacing */
$base-padding: 0.75rem;
$base-margin: 0.75rem;

/* Borders */
$base-border-thickness: 1px;
$base-border-radius: 20px;

/* Box shadow */
$base-box-shadow: 1px 3px 5px rgba(0,0,0,0.1);

/* font sizes */
$base-font-size:1rem;
$font-size-sm:$base-font-size * 0.75;
$font-size-lg:$base-font-size * 1.5;
$font-size-xl:$base-font-size * 2  ;
$font-size-xxl:$base-font-size * 3 ;

