@use '../core/variables' as *;

$display:(
      "display": (
    "prefix": "display",
    "values": (
      "n": none,
      "b": block,
      "f": flex,
      "i": inline,
      "i-b": inline-block
    )
  )
);

@each $property, $map in $display{
    $prefix: map-get($map, "prefix");
    $values: map-get($map, "values");

    @each $k, $v in $values {
        @if($k == "default"){
            .#{$prefix}{
                #{$property}: $v;
            }
        }
            @else{
                .#{$prefix}-#{$k}{
                    #{$property}: $v;
                }
            }
        }
    }
