@use '../core/variables' as *;

$inherit-justify: center, unset, flex-start, flex-end initial inherit;
$justify-value: space-between, space-evenly, space-around,  $inherit-justify ;
$align-value:baseline, $inherit-justify;


@each $align in $align-value {
    .align-#{$align}{
        align-items: $align
    }
    .align-#{$align}{
        align-content: $align
    }
    
    .justify-#{$align}{
        justify-content: $align
    }

}


$display:(
      "display": (
    "prefix": "display",
    "values": (
      "n": none,
      "b": block,
      "f": flex,
      "i": inline,
      "t": table,
      "g": grid,
      "i-b": inline-block
    )
  )
);

@each $property, $map in $display{
    $prefix: map-get($map, "prefix");
    $values: map-get($map, "values");

    @each $k, $v in $values {
        @if($k == "default"){
            .#{$prefix}{
                #{$property}: $v;
            }
        }
            @else{
                .#{$prefix}-#{$k}{
                    #{$property}: $v;
                }
            }
        }
    }
