@use 'sass:math';
@use '../helpers/mediaquery' as *;


// more to come
@for $col from 1 to 13 {
    .col-#{$col}{
        grid-template-columns: repeat($col, 1fr);
    }
    .col-auto-#{$col}{
        grid-template-columns: repeat(autofit,minmax($col * 100px ,1fr));
    }
   

    .row-#{$col}{
        grid-template-rows: repeat($col, 1fr);
    }
}

 