
$align:(
    "left":left,
    "right":right,
    "center":center,
    "justify": justify,
    );

@each $prop, $value in $align {
    // @debug $prop, $value;
    .text-#{$prop}{
        text-align:$value
    }
}

.text-decoration-none{
    text-decoration: none;
}
.text-decoration-underline{
    text-decoration: underline;

}