@mixin btn($bg-color:#e2e2e2){
        border-radius: 5px;
        padding: 0.5rem;
        border: 0;
        display: inline-block;
        cursor: pointer;
        background-color: $bg-color;
        text-decoration: none;
    }
.btn{
    @include btn;
}


@each $key, $val in $colors{
    .btn-#{$key}{
       @include btn($val);
       background-color: $val;
       &:hover{
           background-color: lighten($val,  5);
       }
    }
    .btn-#{$key}-shadow{
        @include btn($val);
        box-shadow: $base-box-shadow;   
        &:hover{
            background-color:lighten($val, 5);
        }
    }
    .btn-#{$key}-outlined{
        @include btn(#eee);
        border: $base-border-thickness solid $val;  
        &:hover{
            background-color: $val;
        }
    }
    .btn-#{$key}-complement{
        @include btn($val);
        color:light-comp($val);
        &:hover{
            color:$val;
            background-color: light-comp($val);
        }
    }
}