* {
  margin: 0;
  padding: 0;
  font-family: 'chillax', "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
      "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
}

@font-face {
  font-family: 'chillax';
  src: url('/src/Assets/fonts/chillax/Chillax-Extralight.otf');
  font-weight: 100
}

@font-face {
  font-family: 'chillax';
  src: url('/src/Assets/fonts/chillax/Chillax-Light.otf');
  font-weight: 200
}

@font-face {
  font-family: 'chillax';
  src: url('/src/Assets/fonts/chillax/Chillax-Medium.otf');
  font-weight: 300
}

@font-face {
  font-family: 'chillax';
  src: url('/src/Assets/fonts/chillax/Chillax-Regular.otf');
  font-weight: 400
}

@font-face {
  font-family: 'chillax';
  src: url('/src/Assets/fonts/chillax/Chillax-Semibold.otf');
  font-weight: 500
}

@font-face {
  font-family: 'chillax';
  src: url('/src/Assets/fonts/chillax/Chillax-Bold.otf');
  font-weight: 600
}



html {
  scroll-behavior: smooth;
}

body {
}

.spin {
  animation: spin .5s linear infinite
}

@keyframes spin {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(360deg)
  }
}
/*  */
.list-none {
  list-style: none;
}

/* 
.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.outline-none {
  outline: none
} */

/* .gap-1 {
  gap: 10px
}

.gap-2 {
  gap: 20px
} */

/* .relative {
  position: relative
} */

.-bottom-1 {
  bottom: -25px
}

.-left-1 {
  left: -50px
}

.-z-1 {
  z-index: -1
}

.top-half {
  top: 50%;
}

.-right-1 {
  right: -15px;
}

.bottom-0 {
  bottom: 0
}

/* .absolute {
  position: absolute
} */

/* component */
.tag {
  padding: 6px 10px;
  border-radius: 10px;
  background: #222;
  max-width: 70px;
  color: white;
  font-size: 10px;
}

/* 
.decoration-none {
  text-decoration: none;
} */
/* fix grid */

.hero .hero__intro {
  width: 450px
}

.feat {
  width: 300px
}